*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/***
  Start of custom styles.
***/
@font-face {
  font-family: "Sutter Camp";
  src: url("SutterCamp.otf") format("opentype");;
}
html {
  min-width: 20rem;
  overflow-y: scroll;
  height: 100vh;
  /* font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; */
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  font-size: 1.00rem;
  background-color: #e1eac6;
  color: #444;
}
@media all and (min-width: 25em){
  html {
    font-size:calc(0.8999rem + 0.4000vw);
  }
}
@media all and (min-width: 50em){
  html {
    font-size:1.10rem;
  }
}
body {
  height: 100%;
}
.top-fold {
  height: 100%;
  min-height: 100%;
}

.menu-grid-container {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr [left-edge] 4fr [right-edge] 1fr; */
    position: fixed;
    top: 0;
    padding: 0 20vw;
    z-index: 10;
}
  
.menu-grid-item {

    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: center;
}

.menu-grid-item-text {
    border-radius: 15px;
    padding: 4px 2vw;
    background-color: rgba(255, 255, 255, 0.658);
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

.menu-grid-item-text:hover {
    background-color: rgba(151, 213, 255, 0.658);
}

.nav {
  grid-column: left-edge / right-edge;
  text-align: center;
  background: url('totoro_face.png');
}
.title-container {
  background-color: blueviolet;
  display: grid;
  grid-template-rows: 48px [bottom-of-spacer] 24px [bottom-of-join] 48px [bot-of-names] 94px;
  grid-template-columns: 1fr [left-edge] 2fr [right-edge] 1fr;
  grid-template-areas: 
    ". spacer ."
    ". join ."
    ". names ."
    ". baby-shower .";
    text-align: center;
}

/********** ELAINE CSS **************/

/******** HOME PAGE MAIN ************/
.home {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.home-join {
    font-family: 'Sutter Camp';
    font-size: 10vw;
}

.home-johnelaine {
    left: 20vw;
    font-family: 'Sutter Camp';
    font-size: 10vw;
    position: absolute;
    margin: -6vh 0vh 0vw 0vh;
}

.home-and {
    font-size:8vw;
    margin: 0px -3vw 0px -3vw;
}


.home-babyshower {
    margin: -1vh 0vh 0vw 0vh;
}


.home-baby {
    width: 65%;
}

.home-shower {
    width: 90%;
}

.home-invite-img {
    width: 40%;
}

/*** FOR DESKTOP VIEW ***/
@media only screen and (min-width: 1500px) {
    .home-join {
        font-size: 5vw;
    }
    .home-johnelaine {
        left: 30vw;
        font-size: 7vw;
        margin: -11vh 0vh 0vw 0vh;

    }
    .home-and {
        font-size: 5vw;
    }

    .menu-grid-container {
        padding: 0 35vw;
    }
}

@media only screen and (max-width: 600px) {
    .home-johnelaine {
        margin: -2vh 5vw 0 0;
    }
    .home-invite-img {
        margin-top: 5vh;
    }
}
  /* *** LEAVES ***
  /* BIG LEAF VINE */
  /* .leaf1 {
    z-index: 1;
    width: 20%;
    position: absolute;
    transform: rotate(90deg);
    margin: -350px 0px 0px 0px;
} */

/* .leaf1-r1 {
    z-index: 1;
    width: 20%;
    position: absolute;
    transform: rotate(270deg);
    margin: -500px 0px 0px 0px;
    right: 0px;
} */

/* SMALL 2 LEAVES */
/* .leaf2 {
    z-index: 1;
    width: 8%;
    position: absolute;
    transform: rotate(90deg);
    margin: -350px 0px 0px 0px;
} */

/* LEAF VINE 3 LEAVES */
/* .leaf3 {
    z-index: 1;
    width: 15%;
    position: absolute;
    transform: rotate(90deg);
    margin: -500px 0px 0px 0px;
} */
/* LEAF VINE 4 LEAVES */
/* .leaf4 {
    z-index: 1;
    width: 18%;
    position: absolute;
    transform: rotate(270deg);
    margin: -300px 0px 0px 0px;
    right: 0px;
} */

/* SMALL 3 LEAVES */
/* .leaf5 {
    z-index: 1;
    width: 15%;
    position: absolute;
    transform: rotate(270deg);
    margin: -300px -20px 0px 0px;
    right: 0;
}  */


/***** TOTORO CONTAINER *******/
.content-container {
    background-color: #cfdd8e;
    margin-top: -20px;
    padding-bottom: 20vh;
}

.content-container-babychange {
    /* color: white; */
    font-family: "Sutter Camp";
    line-height: 0.8;
    text-align: center;
}


/***** REGISTRY-OVERLAP *****/
.panel5_wrapper {
    position: relative;
    width: 100%;
    height: 30vh;
}
  
.panel5 {
    height: 20vh;      
    background-color: #cfdd8e; 
    background-size: cover;
    position: relative;
}

.panel5-overlap {
    position: absolute;
	width: 100%;
	height: 20vh;
    top: 0;
    left: 0;
    /* USE MARIO BACKGROUND IMAGE INSTEAD */
    background-color: #cfdd8e; 
    background-size: cover;   
    clip-path: polygon(0% 90%,100% 0%,100% 100%,0% 100%);
}


/***** REGISTRY-CONTENT *****/
.content-registry {
    background-color: #cfdd8e;
    padding-bottom: 10vh;
}

.registry {
    font-size: 22px;
    margin: -22vh 10vw 0 10vw;
    grid-area: registry;
}

.content-container-registry-title {
    font-family: "Sutter Camp";
    font-size: calc(25px + 10vw);
    text-align: center;
    margin: 5vh 0vw 0vh 0vw;
}

.registry-img {
    position: absolute;
    z-index: 1;
    margin: 0vh -20vw 0vh 0vw;
}

.content-container-text {
    /* color: white; */
    font-size: 22px;
    margin: 8vh 10vw 0 10vw;
}

.content-container-registry-lists {
    margin: 2vh 0 0 5vw;
}

.registry-containers {
    margin: 5vw;    
}

/* .reg-icon-containers {
    background-color: white;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    min-width: 200px;
    min-height: 200px;
    margin: 2vw;
} */
.registry-icon-amazon {
    margin-top: 20%;
}

.registry-icons-target {
    margin-top: 15%;
}


.registry-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    display: flex;
  }
  
  .registry-grid-item {
    background-color: white;

    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    min-width: calc(100px + 10vw);
    min-height: calc(100px + 10vw);
    margin: 2vw;
    text-align: center;
    margin: 0 auto;
  }

  /****** RSVP *******/
.panel6_wrapper {
    position: relative;
    width: 100%;
    height: 19vh;
}
  
.panel6 {
    height: 20vh;      
    background-color: #cfdd8e; 
    background-size: cover;
    position: relative;
}

.panel6-overlap {
    position: absolute;
	width: 100%;
	height: 20vh;
    top: 0;
    left: 0;
    background-color: #e1eac6; 
    background-size: cover;   
    clip-path: polygon(0% 0%,100% 100%,100% 100%,0% 100%);
}

.rsvp-bottom {
    height: 5vh;
}

.rsvp-title {
    font-family: "Sutter Camp";
    font-size: calc(30px + 10vw);
    text-align: center;
}

.rsvp-form-container {
    background-color: white;
    margin: 5vh 10vw 10vh 10vw;
    border-radius: 20px;
    padding: 5vw;
}

/** RSVP FORM **/
.rsvp-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: #6aa482;
}
  
.rsvp-label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
.rsvp-submit {
    background-color: #6aa482;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    /* float: right; */
}

.rsvp-submit-container {
    text-align: center;
}
.rsvp-submit:hover {
    background-color: #cfdd8e;
}

.rsvp-label {
    padding: 0;
    font-size: 30px;
}

.rsvp-col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family: "Sutter Camp";
}
  
.rsvp-col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.rsvp-row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .rsvp-col-25, .rsvp-col-75, .rsvp-submit {
      width: 100%;
      margin-top: 0;
    }
}

.acorn-trail {
    width: 60%;
    /* float: right; */
    z-index: 10;
    margin-top: -3vh;
    margin-left: 20vw;
}